{
    email admin@semanticos.io
}

:80 {
    # Default non-HTTPS endpoint just in case
    handle_path /api/* {
        reverse_proxy api:8000
    }
    handle_path /stream* {
        reverse_proxy api:8000
    }
    handle /* {
        reverse_proxy web:3000
    }
}

20.2.90.156.nip.io {
    # Automatic HTTPS using Let's Encrypt for magic DNS
    tls admin@semanticos.io
    
    handle_path /api/* {
        reverse_proxy api:8000
    }
    
    handle_path /stream* {
        reverse_proxy api:8000
    }
    
    handle /* {
        reverse_proxy web:3000
    }
}
